<html>
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
<title>Xorox's maps</title>
<script src="js/client.js"></script>
<script src="js/drawer.js"></script>
<link type="image/png" rel="icon" href="images/favicons/X.png">
</head>
<body>
<div class="container">
<div class= "current">
	<canvas id="myCanvas" width="768" height="768" style="position: absolute;">Ваш браузер не поддерживает холсты.</canvas>
<img src="images/default_dance.png" height="768" width="768" id="map">
</div>
</div>
</body>
</html>